<a href="https://colab.research.google.com/github/ogut77/BA/blob/main/MultipleTable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandasql
import pandas as pd
import pandasql as psql
Customer=pd.read_excel("https://github.com/ogut77/BA/blob/main/Customer.xlsx?raw=true")
Employee=pd.read_excel("https://github.com/ogut77/BA/blob/main/Employee.xlsx?raw=true")
Employee_1=pd.read_excel("https://github.com/ogut77/BA/blob/main/Employee.xlsx?raw=true")
Product=pd.read_excel("https://github.com/ogut77/BA/blob/main/Product.xlsx?raw=true")
OrdLine=pd.read_excel("https://github.com/ogut77/BA/blob/main/OrdLine.xlsx?raw=true")
OrderTbl=pd.read_excel("https://github.com/ogut77/BA/blob/main/OrderTbl.xlsx?raw=true")

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.23.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.5.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.4.46)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2023.3.post1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (2.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26771 sha256=1da39a8d5ef8da830e822f4fd272fddf2ccbda217d16c5f1740066d5660bbcf0
  Stored in directory: /root/.cache/pip/wheels/e9/bc/3a/8434bdcccf5779e72894a9b24fecbdcaf97940607eaf4bcdf9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

![image.png]()

In [ ]:
#1. List all columns of Customer Table
txt='''

'''
Q1 =  psql.sqldf(txt)
Q1

,CustNo,CustFirstName,CustLastName,CustStreet,CustCity,CustState,CustZip,CustBal
0,C0954327,Sheri,Gordon,336 HiII St.,Littleton,CO,80129-5543,230
1,C1010398,Jim,Glussman,1432 E. Ravenna,Denver,CO,80111-0033,200
2,C2388597,Beth,Taylor,2396 Rafter Rd,Seattle,WA,98103-1121,500
3,C3340959,Betty,Wise,4334 153rd NW,Seattle,WA,98178-3311,200
4,C3499503,Bob,Mann,1190 Lorraine Cir.,Monroe,WA,98013-1095,0
5,C8543321,Ron,Thompson,789 122nd St.,Renton,WA,98666-1289,85
6,C8574932,Wally,Jones,411 Webber Ave.,Seattle,WA,98105-1093,1500
7,C8654390,Candy,Kendall,456 Pine St.,Seattle,WA,98105-3345,50
8,C9128574,Jerry,Wyatt,16212 123rd Ct.,Denver,CO,80222-0022,100
9,C9403348,Mike,Boren,642 Crest Ave.,Englewood,CO,80113-5431,0
10,C9432910,Larry,Styles,9825 S. Crest Lane,Bellevue,WA,98104-2211,250
11,C9543029,Sharon,Johnson,1223 Meyer Way,Fife,WA,98222-1123,856
12,C9549302,Todd,Hayes,1400 NW 88th,Lynnwood,WA,98036-2244,0
13,C9857432,Homer,Wells,123 Main St.,Seattle,WA,98105-4322,500
14,C9865874,Mary,Hill,206 McCaffrey,Littleton,CO,80129-5543,150
15,C9943201,Harry,Sanders,1280 S. Hill Rd.,Fife,WA,98222-2258,1000

In [ ]:
#1. List all columns of the Order Table
txt='''

'''
Q1 =  psql.sqldf(txt)
Q1

,OrdNo,OrdDate,CustNo,EmpNo,OrdName,OrdStreet,OrdCity,OrdState,OrdZip
0,O1116324,2017-01-23 00:00:00.000000,C0954327,E8544399,Sheri Gordon,336 Hill St.,Littleton,CO,80129-5543
1,O2334661,2017-01-14 00:00:00.000000,C0954327,E1329594,Mrs. Ruth Gordon,233 S. 166th,Seattle,WA,98011
2,O3331222,2017-01-13 00:00:00.000000,C1010398,None,Jim Glussman,1432 E. Ravenna,Denver,CO,80111-0033
3,O2233457,2017-01-12 00:00:00.000000,C2388597,E9884325,Beth Taylor,2396 Rafter Rd,Seattle,WA,98103-1121
4,O4714645,2017-01-11 00:00:00.000000,C2388597,E1329594,Beth Taylor,2396 Rafter Rd,Seattle,WA,98103-1121
5,O5511365,2017-01-22 00:00:00.000000,C3340959,E9884325,Betty White,4334 153rd NW,Seattle,WA,98178-3311
6,O7989497,2017-01-16 00:00:00.000000,C3499503,E9345771,Bob Mann,1190 Lorraine Cir.,Monroe,WA,98013-1095
7,O1656777,2017-02-11 00:00:00.000000,C8543321,None,Ron Thompson,789 122nd St.,Renton,WA,98666-1289
8,O7959898,2017-02-19 00:00:00.000000,C8543321,E8544399,Ron Thompson,789 122nd St.,Renton,WA,98666-1289
9,O1455122,2017-01-09 00:00:00.000000,C8574932,E9345771,Wally Jones,411 Webber Ave.,Seattle,WA,98105-1093
10,O1615141,2017-01-23 00:00:00.000000,C8654390,E8544399,Candy Kendall,456 Pine St.,Seattle,WA,98105-3345
11,O3377543,2017-01-15 00:00:00.000000,C9128574,E8843211,Jerry Wyatt,16212 123rd Ct.,Denver,CO,80222-0022
12,O3252629,2017-01-23 00:00:00.000000,C9403348,E9954302,Mike Boren,642 Crest Ave.,Englewood,CO,80113-5431
13,O1231231,2017-01-23 00:00:00.000000,C9432910,E9954302,Larry Styles,9825 S. Crest Lane,Bellevue,WA,98104-2211
14,O1579999,2017-01-05 00:00:00.000000,C9543029,E8544399,Tom Johnson,1632 Ocean Dr.,Des Moines,WA,98222-1123
15,O1241518,2017-02-10 00:00:00.000000,C9549302,None,Todd Hayes,1400 NW 88th,Lynnwood,WA,98036-2244
16,O9919699,2017-02-11 00:00:00.000000,C9857432,E9954302,Homer Wells,123 Main St.,Seattle,WA,98105-4322
17,O6565656,2017-01-20 00:00:00.000000,C9865874,E8843211,Mr. Jack Sibley,166 E. 344th,Renton,WA,98006-5543
18,O8979495,2017-01-23 00:00:00.000000,C9865874,None,HelenSibley,206 McCaffrey,Renton,WA,98006-5543
19,O7847172,2017-01-23 00:00:00.000000,C9943201,None,Harry Sanders,1280 S. Hill Rd.,Fife,WA,98222-2258

A) Retrieve all columns from a table

In [ ]:
#1. List all columns of the OrderTbl table and customer Table
txt='''

'''
Q1 =  psql.sqldf(txt)
Q1

,CustNo,CustFirstName,CustLastName,CustStreet,CustCity,CustState,CustZip,CustBal,OrdNo,OrdDate,CustNo,EmpNo,OrdName,OrdStreet,OrdCity,OrdState,OrdZip
0,C0954327,Sheri,Gordon,336 HiII St.,Littleton,CO,80129-5543,230,O1116324,2017-01-23 00:00:00.000000,C0954327,E8544399,Sheri Gordon,336 Hill St.,Littleton,CO,80129-5543
1,C0954327,Sheri,Gordon,336 HiII St.,Littleton,CO,80129-5543,230,O2334661,2017-01-14 00:00:00.000000,C0954327,E1329594,Mrs. Ruth Gordon,233 S. 166th,Seattle,WA,98011
2,C1010398,Jim,Glussman,1432 E. Ravenna,Denver,CO,80111-0033,200,O3331222,2017-01-13 00:00:00.000000,C1010398,None,Jim Glussman,1432 E. Ravenna,Denver,CO,80111-0033
3,C2388597,Beth,Taylor,2396 Rafter Rd,Seattle,WA,98103-1121,500,O2233457,2017-01-12 00:00:00.000000,C2388597,E9884325,Beth Taylor,2396 Rafter Rd,Seattle,WA,98103-1121
4,C2388597,Beth,Taylor,2396 Rafter Rd,Seattle,WA,98103-1121,500,O4714645,2017-01-11 00:00:00.000000,C2388597,E1329594,Beth Taylor,2396 Rafter Rd,Seattle,WA,98103-1121
5,C3340959,Betty,Wise,4334 153rd NW,Seattle,WA,98178-3311,200,O5511365,2017-01-22 00:00:00.000000,C3340959,E9884325,Betty White,4334 153rd NW,Seattle,WA,98178-3311
6,C3499503,Bob,Mann,1190 Lorraine Cir.,Monroe,WA,98013-1095,0,O7989497,2017-01-16 00:00:00.000000,C3499503,E9345771,Bob Mann,1190 Lorraine Cir.,Monroe,WA,98013-1095
7,C8543321,Ron,Thompson,789 122nd St.,Renton,WA,98666-1289,85,O1656777,2017-02-11 00:00:00.000000,C8543321,None,Ron Thompson,789 122nd St.,Renton,WA,98666-1289
8,C8543321,Ron,Thompson,789 122nd St.,Renton,WA,98666-1289,85,O7959898,2017-02-19 00:00:00.000000,C8543321,E8544399,Ron Thompson,789 122nd St.,Renton,WA,98666-1289
9,C8574932,Wally,Jones,411 Webber Ave.,Seattle,WA,98105-1093,1500,O1455122,2017-01-09 00:00:00.000000,C8574932,E9345771,Wally Jones,411 Webber Ave.,Seattle,WA,98105-1093
10,C8654390,Candy,Kendall,456 Pine St.,Seattle,WA,98105-3345,50,O1615141,2017-01-23 00:00:00.000000,C8654390,E8544399,Candy Kendall,456 Pine St.,Seattle,WA,98105-3345
11,C9128574,Jerry,Wyatt,16212 123rd Ct.,Denver,CO,80222-0022,100,O3377543,2017-01-15 00:00:00.000000,C9128574,E8843211,Jerry Wyatt,16212 123rd Ct.,Denver,CO,80222-0022
12,C9403348,Mike,Boren,642 Crest Ave.,Englewood,CO,80113-5431,0,O3252629,2017-01-23 00:00:00.000000,C9403348,E9954302,Mike Boren,642 Crest Ave.,Englewood,CO,80113-5431
13,C9432910,Larry,Styles,9825 S. Crest Lane,Bellevue,WA,98104-2211,250,O1231231,2017-01-23 00:00:00.000000,C9432910,E9954302,Larry Styles,9825 S. Crest Lane,Bellevue,WA,98104-2211
14,C9543029,Sharon,Johnson,1223 Meyer Way,Fife,WA,98222-1123,856,O1579999,2017-01-05 00:00:00.000000,C9543029,E8544399,Tom Johnson,1632 Ocean Dr.,Des Moines,WA,98222-1123
15,C9549302,Todd,Hayes,1400 NW 88th,Lynnwood,WA,98036-2244,0,O1241518,2017-02-10 00:00:00.000000,C9549302,None,Todd Hayes,1400 NW 88th,Lynnwood,WA,98036-2244
16,C9857432,Homer,Wells,123 Main St.,Seattle,WA,98105-4322,500,O9919699,2017-02-11 00:00:00.000000,C9857432,E9954302,Homer Wells,123 Main St.,Seattle,WA,98105-4322
17,C9865874,Mary,Hill,206 McCaffrey,Littleton,CO,80129-5543,150,O6565656,2017-01-20 00:00:00.000000,C9865874,E8843211,Mr. Jack Sibley,166 E. 344th,Renton,WA,98006-5543
18,C9865874,Mary,Hill,206 McCaffrey,Littleton,CO,80129-5543,150,O8979495,2017-01-23 00:00:00.000000,C9865874,None,HelenSibley,206 McCaffrey,Renton,WA,98006-5543
19,C9943201,Harry,Sanders,1280 S. Hill Rd.,Fife,WA,98222-2258,1000,O7847172,2017-01-23 00:00:00.000000,C9943201,None,Harry Sanders,1280 S. Hill Rd.,Fife,WA,98222-2258

In [ ]:
#2. List all columns of the OrderTbl table and customer first name and last name
txt='''

'''
Q2 =  psql.sqldf(txt)
Q2

,OrdNo,OrdDate,CustNo,EmpNo,OrdName,OrdStreet,OrdCity,OrdState,OrdZip,CustFirstName,CustLastName
0,O1116324,2017-01-23 00:00:00.000000,C0954327,E8544399,Sheri Gordon,336 Hill St.,Littleton,CO,80129-5543,Sheri,Gordon
1,O2334661,2017-01-14 00:00:00.000000,C0954327,E1329594,Mrs. Ruth Gordon,233 S. 166th,Seattle,WA,98011,Sheri,Gordon
2,O3331222,2017-01-13 00:00:00.000000,C1010398,None,Jim Glussman,1432 E. Ravenna,Denver,CO,80111-0033,Jim,Glussman
3,O2233457,2017-01-12 00:00:00.000000,C2388597,E9884325,Beth Taylor,2396 Rafter Rd,Seattle,WA,98103-1121,Beth,Taylor
4,O4714645,2017-01-11 00:00:00.000000,C2388597,E1329594,Beth Taylor,2396 Rafter Rd,Seattle,WA,98103-1121,Beth,Taylor
5,O5511365,2017-01-22 00:00:00.000000,C3340959,E9884325,Betty White,4334 153rd NW,Seattle,WA,98178-3311,Betty,Wise
6,O7989497,2017-01-16 00:00:00.000000,C3499503,E9345771,Bob Mann,1190 Lorraine Cir.,Monroe,WA,98013-1095,Bob,Mann
7,O1656777,2017-02-11 00:00:00.000000,C8543321,None,Ron Thompson,789 122nd St.,Renton,WA,98666-1289,Ron,Thompson
8,O7959898,2017-02-19 00:00:00.000000,C8543321,E8544399,Ron Thompson,789 122nd St.,Renton,WA,98666-1289,Ron,Thompson
9,O1455122,2017-01-09 00:00:00.000000,C8574932,E9345771,Wally Jones,411 Webber Ave.,Seattle,WA,98105-1093,Wally,Jones
10,O1615141,2017-01-23 00:00:00.000000,C8654390,E8544399,Candy Kendall,456 Pine St.,Seattle,WA,98105-3345,Candy,Kendall
11,O3377543,2017-01-15 00:00:00.000000,C9128574,E8843211,Jerry Wyatt,16212 123rd Ct.,Denver,CO,80222-0022,Jerry,Wyatt
12,O3252629,2017-01-23 00:00:00.000000,C9403348,E9954302,Mike Boren,642 Crest Ave.,Englewood,CO,80113-5431,Mike,Boren
13,O1231231,2017-01-23 00:00:00.000000,C9432910,E9954302,Larry Styles,9825 S. Crest Lane,Bellevue,WA,98104-2211,Larry,Styles
14,O1579999,2017-01-05 00:00:00.000000,C9543029,E8544399,Tom Johnson,1632 Ocean Dr.,Des Moines,WA,98222-1123,Sharon,Johnson
15,O1241518,2017-02-10 00:00:00.000000,C9549302,None,Todd Hayes,1400 NW 88th,Lynnwood,WA,98036-2244,Todd,Hayes
16,O9919699,2017-02-11 00:00:00.000000,C9857432,E9954302,Homer Wells,123 Main St.,Seattle,WA,98105-4322,Homer,Wells
17,O6565656,2017-01-20 00:00:00.000000,C9865874,E8843211,Mr. Jack Sibley,166 E. 344th,Renton,WA,98006-5543,Mary,Hill
18,O8979495,2017-01-23 00:00:00.000000,C9865874,None,HelenSibley,206 McCaffrey,Renton,WA,98006-5543,Mary,Hill
19,O7847172,2017-01-23 00:00:00.000000,C9943201,None,Harry Sanders,1280 S. Hill Rd.,Fife,WA,98222-2258,Harry,Sanders

In [ ]:
#3. List all columns of the OrderTbl table and
#associated Employee First Name and Last Name
txt='''

'''
Q3 =  psql.sqldf(txt)
Q3

,OrdNo,OrdDate,CustNo,EmpNo,OrdName,OrdStreet,OrdCity,OrdState,OrdZip,EmpFirstName,EmpLastName
0,O1116324,2017-01-23 00:00:00.000000,C0954327,E8544399,Sheri Gordon,336 Hill St.,Littleton,CO,80129-5543,Joe,Jenkins
1,O1231231,2017-01-23 00:00:00.000000,C9432910,E9954302,Larry Styles,9825 S. Crest Lane,Bellevue,WA,98104-2211,Mary,Hill
2,O1455122,2017-01-09 00:00:00.000000,C8574932,E9345771,Wally Jones,411 Webber Ave.,Seattle,WA,98105-1093,Colin,White
3,O1579999,2017-01-05 00:00:00.000000,C9543029,E8544399,Tom Johnson,1632 Ocean Dr.,Des Moines,WA,98222-1123,Joe,Jenkins
4,O1615141,2017-01-23 00:00:00.000000,C8654390,E8544399,Candy Kendall,456 Pine St.,Seattle,WA,98105-3345,Joe,Jenkins
5,O2233457,2017-01-12 00:00:00.000000,C2388597,E9884325,Beth Taylor,2396 Rafter Rd,Seattle,WA,98103-1121,Thomas,Johnson
6,O2334661,2017-01-14 00:00:00.000000,C0954327,E1329594,Mrs. Ruth Gordon,233 S. 166th,Seattle,WA,98011,Landi,Santos
7,O3252629,2017-01-23 00:00:00.000000,C9403348,E9954302,Mike Boren,642 Crest Ave.,Englewood,CO,80113-5431,Mary,Hill
8,O3377543,2017-01-15 00:00:00.000000,C9128574,E8843211,Jerry Wyatt,16212 123rd Ct.,Denver,CO,80222-0022,Amy,Tang
9,O4714645,2017-01-11 00:00:00.000000,C2388597,E1329594,Beth Taylor,2396 Rafter Rd,Seattle,WA,98103-1121,Landi,Santos
10,O5511365,2017-01-22 00:00:00.000000,C3340959,E9884325,Betty White,4334 153rd NW,Seattle,WA,98178-3311,Thomas,Johnson
11,O6565656,2017-01-20 00:00:00.000000,C9865874,E8843211,Mr. Jack Sibley,166 E. 344th,Renton,WA,98006-5543,Amy,Tang
12,O7959898,2017-02-19 00:00:00.000000,C8543321,E8544399,Ron Thompson,789 122nd St.,Renton,WA,98666-1289,Joe,Jenkins
13,O7989497,2017-01-16 00:00:00.000000,C3499503,E9345771,Bob Mann,1190 Lorraine Cir.,Monroe,WA,98013-1095,Colin,White
14,O9919699,2017-02-11 00:00:00.000000,C9857432,E9954302,Homer Wells,123 Main St.,Seattle,WA,98105-4322,Mary,Hill

In [ ]:
#4. List all columns of the Employee Table and
#and associated Supervisor First Name and Last Name
txt='''

'''
Q4 =  psql.sqldf(txt)
Q4

In [ ]:
#5. List all columns of the OrderLine table and associated product name and price
txt='''

'''
Q5 =  psql.sqldf(txt)
Q5

       OrdNo    ProdNo  Qty               Product Name  Product Price
0   O1231231  P0036566    1      17 inch Color Monitor         169.00
1   O1615141  P0036566    1      17 inch Color Monitor         169.00
2   O2334661  P0036566    1      17 inch Color Monitor         169.00
3   O4714645  P0036566    1      17 inch Color Monitor         169.00
4   O6565656  P0036566   10      17 inch Color Monitor         169.00
5   O1241518  P0036577    1      19 inch Color Monitor         319.00
6   O2233457  P0036577    1      19 inch Color Monitor         319.00
7   O9919699  P0036577    1      19 inch Color Monitor         319.00
8   O7989497  P1114590    2  R3000 Color Laser Printer         699.00
9   O8979495  P1114590    1  R3000 Color Laser Printer         699.00
10  O9919699  P1114590    1  R3000 Color Laser Printer         699.00
11  O2334661  P1412138    1      10 Foot Printer Cable          12.00
12  O3331222  P1412138    1      10 Foot Printer Cable          12.00
13  O5511365  P1412138    1      10 Foot Printer Cable          12.00
14  O7959898  P1412138    5      10 Foot Printer Cable          12.00
15  O7989497  P1412138    2      10 Foot Printer Cable          12.00
16  O8979495  P1412138    1      10 Foot Printer Cable          12.00
17  O1116324  P1445671    1   8-Outlet Surge Protector          14.99
18  O1231231  P1445671    1   8-Outlet Surge Protector          14.99
19  O1615141  P1445671    1   8-Outlet Surge Protector          14.99
20  O1656777  P1445671    1   8-Outlet Surge Protector          14.99
21  O2233457  P1445671    1   8-Outlet Surge Protector          14.99
22  O3377543  P1445671    1   8-Outlet Surge Protector          14.99
23  O5511365  P1445671    1   8-Outlet Surge Protector          14.99
24  O7989497  P1445671    3   8-Outlet Surge Protector          14.99
25  O8979495  P1445671    1   8-Outlet Surge Protector          14.99
26  O1579999  P1556678    1  CVP Ink Jet Color Printer          99.00
27  O1656777  P1556678    1  CVP Ink Jet Color Printer          99.00
28  O2334661  P1556678    1  CVP Ink Jet Color Printer          99.00
29  O3331222  P1556678    1  CVP Ink Jet Color Printer          99.00
30  O5511365  P1556678    1  CVP Ink Jet Color Printer          99.00
31  O7847172  P1556678    1  CVP Ink Jet Color Printer          99.00
32  O7959898  P1556678    5  CVP Ink Jet Color Printer          99.00
33  O3331222  P3455443    1    Color Ink Jet Cartridge          38.00
34  O5511365  P3455443    1    Color Ink Jet Cartridge          38.00
35  O7959898  P3455443    5    Color Ink Jet Cartridge          38.00
36  O1455122  P4200344    1       36-Bit Color Scanner         199.99
37  O1615141  P4200344    1       36-Bit Color Scanner         199.99
38  O3252629  P4200344    1       36-Bit Color Scanner         199.99
39  O9919699  P4200344    1       36-Bit Color Scanner         199.99
40  O1579999  P6677900    1    Black Ink Jet Cartridge          25.69
41  O5511365  P6677900    1    Black Ink Jet Cartridge          25.69
42  O7847172  P6677900    1    Black Ink Jet Cartridge          25.69
43  O7959898  P6677900    5    Black Ink Jet Cartridge          25.69
44  O1579999  P9995676    1     Battery Back-up System          89.00
45  O3252629  P9995676    1     Battery Back-up System          89.00
46  O3377543  P9995676    1     Battery Back-up System          89.00
47  O4714645  P9995676    1     Battery Back-up System          89.00

In [ ]:
#6. List all columns of the OrderLine table and associated product name and price and
# amount for each item
txt='''

'''
Q6 =  psql.sqldf(txt)
Q6

,OrdNo,ProdNo,Qty,Product Name,Product Price,Item Amount
0,O1231231,P0036566,1,17 inch Color Monitor,169.00,169.00
1,O1615141,P0036566,1,17 inch Color Monitor,169.00,169.00
2,O2334661,P0036566,1,17 inch Color Monitor,169.00,169.00
3,O4714645,P0036566,1,17 inch Color Monitor,169.00,169.00
4,O6565656,P0036566,10,17 inch Color Monitor,169.00,1690.00
5,O1241518,P0036577,1,19 inch Color Monitor,319.00,319.00
6,O2233457,P0036577,1,19 inch Color Monitor,319.00,319.00
7,O9919699,P0036577,1,19 inch Color Monitor,319.00,319.00
8,O7989497,P1114590,2,R3000 Color Laser Printer,699.00,1398.00
9,O8979495,P1114590,1,R3000 Color Laser Printer,699.00,699.00
10,O9919699,P1114590,1,R3000 Color Laser Printer,699.00,699.00
11,O2334661,P1412138,1,10 Foot Printer Cable,12.00,12.00
12,O3331222,P1412138,1,10 Foot Printer Cable,12.00,12.00
13,O5511365,P1412138,1,10 Foot Printer Cable,12.00,12.00
14,O7959898,P1412138,5,10 Foot Printer Cable,12.00,60.00
15,O7989497,P1412138,2,10 Foot Printer Cable,12.00,24.00
16,O8979495,P1412138,1,10 Foot Printer Cable,12.00,12.00
17,O1116324,P1445671,1,8-Outlet Surge Protector,14.99,14.99
18,O1231231,P1445671,1,8-Outlet Surge Protector,14.99,14.99
19,O1615141,P1445671,1,8-Outlet Surge Protector,14.99,14.99
20,O1656777,P1445671,1,8-Outlet Surge Protector,14.99,14.99
21,O2233457,P1445671,1,8-Outlet Surge Protector,14.99,14.99
22,O3377543,P1445671,1,8-Outlet Surge Protector,14.99,14.99
23,O5511365,P1445671,1,8-Outlet Surge Protector,14.99,14.99
24,O7989497,P1445671,3,8-Outlet Surge Protector,14.99,44.97
25,O8979495,P1445671,1,8-Outlet Surge Protector,14.99,14.99
26,O1579999,P1556678,1,CVP Ink Jet Color Printer,99.00,99.00
27,O1656777,P1556678,1,CVP Ink Jet Color Printer,99.00,99.00
28,O2334661,P1556678,1,CVP Ink Jet Color Printer,99.00,99.00
29,O3331222,P1556678,1,CVP Ink Jet Color Printer,99.00,99.00
30,O5511365,P1556678,1,CVP Ink Jet Color Printer,99.00,99.00
31,O7847172,P1556678,1,CVP Ink Jet Color Printer,99.00,99.00
32,O7959898,P1556678,5,CVP Ink Jet Color Printer,99.00,495.00
33,O3331222,P3455443,1,Color Ink Jet Cartridge,38.00,38.00
34,O5511365,P3455443,1,Color Ink Jet Cartridge,38.00,38.00
35,O7959898,P3455443,5,Color Ink Jet Cartridge,38.00,190.00
36,O1455122,P4200344,1,36-Bit Color Scanner,199.99,199.99
37,O1615141,P4200344,1,36-Bit Color Scanner,199.99,199.99
38,O3252629,P4200344,1,36-Bit Color Scanner,199.99,199.99
39,O9919699,P4200344,1,36-Bit Color Scanner,199.99,199.99
40,O1579999,P6677900,1,Black Ink Jet Cartridge,25.69,25.69
41,O5511365,P6677900,1,Black Ink Jet Cartridge,25.69,25.69
42,O7847172,P6677900,1,Black Ink Jet Cartridge,25.69,25.69
43,O7959898,P6677900,5,Black Ink Jet Cartridge,25.69,128.45
44,O1579999,P9995676,1,Battery Back-up System,89.00,89.00
45,O3252629,P9995676,1,Battery Back-up System,89.00,89.00
46,O3377543,P9995676,1,Battery Back-up System,89.00,89.00
47,O4714645,P9995676,1,Battery Back-up System,89.00,89.00

In [ ]:
#7. List all columns of the OrderLine table and associated product name and price and
# amount for each item for OrderNo O5511365
txt='''


'''
Q7 =  psql.sqldf(txt)
Q7

,OrdNo,ProdNo,Qty,Product Name,Product Price,Item Amount
0,O5511365,P1412138,1,10 Foot Printer Cable,12.00,12.00
1,O5511365,P1445671,1,8-Outlet Surge Protector,14.99,14.99
2,O5511365,P1556678,1,CVP Ink Jet Color Printer,99.00,99.00
3,O5511365,P3455443,1,Color Ink Jet Cartridge,38.00,38.00
4,O5511365,P6677900,1,Black Ink Jet Cartridge,25.69,25.69

In [ ]:
#7B. List all columns of the OrderLine table and associated product name and price and
# amount for Product with ProdNo  P0036566
txt='''


'''
Q7B =  psql.sqldf(txt)
Q7B

In [ ]:
#8. Find total sales and quantity sold for each product.
# What is the total quantity sold for each product?
# How many times this product  ordered?
#
txt='''

'''
Q8 =  psql.sqldf(txt)
Q8

,ProdNo,ProdName,Sales Amount,QuantitySold,Number of Order
0,P0036566,17 inch Color Monitor,2366.00,14,5
1,P0036577,19 inch Color Monitor,957.00,3,3
2,P1114590,R3000 Color Laser Printer,2796.00,4,3
3,P1412138,10 Foot Printer Cable,132.00,11,6
4,P1445671,8-Outlet Surge Protector,164.89,11,9
5,P1556678,CVP Ink Jet Color Printer,1089.00,11,7
6,P3455443,Color Ink Jet Cartridge,266.00,7,3
7,P4200344,36-Bit Color Scanner,799.96,4,4
8,P6677900,Black Ink Jet Cartridge,205.52,8,4
9,P9995676,Battery Back-up System,356.00,4,4

In [ ]:
#9. List all columns of the OrderTbl table and associated quantity ordered and
# product name and price. Sort result based on Order No
txt='''

'''
Q9 =  psql.sqldf(txt)
Q9

,OrdNo,OrdDate,CustNo,EmpNo,OrdName,OrdStreet,OrdCity,OrdState,OrdZip,Qty,ProdName,ProdPrice
0,O1116324,2017-01-23 00:00:00.000000,C0954327,E8544399,Sheri Gordon,336 Hill St.,Littleton,CO,80129-5543,1,8-Outlet Surge Protector,14.99
1,O1231231,2017-01-23 00:00:00.000000,C9432910,E9954302,Larry Styles,9825 S. Crest Lane,Bellevue,WA,98104-2211,1,17 inch Color Monitor,169.00
2,O1231231,2017-01-23 00:00:00.000000,C9432910,E9954302,Larry Styles,9825 S. Crest Lane,Bellevue,WA,98104-2211,1,8-Outlet Surge Protector,14.99
3,O1241518,2017-02-10 00:00:00.000000,C9549302,None,Todd Hayes,1400 NW 88th,Lynnwood,WA,98036-2244,1,19 inch Color Monitor,319.00
4,O1455122,2017-01-09 00:00:00.000000,C8574932,E9345771,Wally Jones,411 Webber Ave.,Seattle,WA,98105-1093,1,36-Bit Color Scanner,199.99
5,O1579999,2017-01-05 00:00:00.000000,C9543029,E8544399,Tom Johnson,1632 Ocean Dr.,Des Moines,WA,98222-1123,1,CVP Ink Jet Color Printer,99.00
6,O1579999,2017-01-05 00:00:00.000000,C9543029,E8544399,Tom Johnson,1632 Ocean Dr.,Des Moines,WA,98222-1123,1,Black Ink Jet Cartridge,25.69
7,O1579999,2017-01-05 00:00:00.000000,C9543029,E8544399,Tom Johnson,1632 Ocean Dr.,Des Moines,WA,98222-1123,1,Battery Back-up System,89.00
8,O1615141,2017-01-23 00:00:00.000000,C8654390,E8544399,Candy Kendall,456 Pine St.,Seattle,WA,98105-3345,1,17 inch Color Monitor,169.00
9,O1615141,2017-01-23 00:00:00.000000,C8654390,E8544399,Candy Kendall,456 Pine St.,Seattle,WA,98105-3345,1,8-Outlet Surge Protector,14.99
10,O1615141,2017-01-23 00:00:00.000000,C8654390,E8544399,Candy Kendall,456 Pine St.,Seattle,WA,98105-3345,1,36-Bit Color Scanner,199.99
11,O1656777,2017-02-11 00:00:00.000000,C8543321,None,Ron Thompson,789 122nd St.,Renton,WA,98666-1289,1,8-Outlet Surge Protector,14.99
12,O1656777,2017-02-11 00:00:00.000000,C8543321,None,Ron Thompson,789 122nd St.,Renton,WA,98666-1289,1,CVP Ink Jet Color Printer,99.00
13,O2233457,2017-01-12 00:00:00.000000,C2388597,E9884325,Beth Taylor,2396 Rafter Rd,Seattle,WA,98103-1121,1,19 inch Color Monitor,319.00
14,O2233457,2017-01-12 00:00:00.000000,C2388597,E9884325,Beth Taylor,2396 Rafter Rd,Seattle,WA,98103-1121,1,8-Outlet Surge Protector,14.99
15,O2334661,2017-01-14 00:00:00.000000,C0954327,E1329594,Mrs. Ruth Gordon,233 S. 166th,Seattle,WA,98011,1,17 inch Color Monitor,169.00
16,O2334661,2017-01-14 00:00:00.000000,C0954327,E1329594,Mrs. Ruth Gordon,233 S. 166th,Seattle,WA,98011,1,10 Foot Printer Cable,12.00
17,O2334661,2017-01-14 00:00:00.000000,C0954327,E1329594,Mrs. Ruth Gordon,233 S. 166th,Seattle,WA,98011,1,CVP Ink Jet Color Printer,99.00
18,O3252629,2017-01-23 00:00:00.000000,C9403348,E9954302,Mike Boren,642 Crest Ave.,Englewood,CO,80113-5431,1,36-Bit Color Scanner,199.99
19,O3252629,2017-01-23 00:00:00.000000,C9403348,E9954302,Mike Boren,642 Crest Ave.,Englewood,CO,80113-5431,1,Battery Back-up System,89.00
20,O3331222,2017-01-13 00:00:00.000000,C1010398,None,Jim Glussman,1432 E. Ravenna,Denver,CO,80111-0033,1,10 Foot Printer Cable,12.00
21,O3331222,2017-01-13 00:00:00.000000,C1010398,None,Jim Glussman,1432 E. Ravenna,Denver,CO,80111-0033,1,CVP Ink Jet Color Printer,99.00
22,O3331222,2017-01-13 00:00:00.000000,C1010398,None,Jim Glussman,1432 E. Ravenna,Denver,CO,80111-0033,1,Color Ink Jet Cartridge,38.00
23,O3377543,2017-01-15 00:00:00.000000,C9128574,E8843211,Jerry Wyatt,16212 123rd Ct.,Denver,CO,80222-0022,1,8-Outlet Surge Protector,14.99
24,O3377543,2017-01-15 00:00:00.000000,C9128574,E8843211,Jerry Wyatt,16212 123rd Ct.,Denver,CO,80222-0022,1,Battery Back-up System,89.00
25,O4714645,2017-01-11 00:00:00.000000,C2388597,E1329594,Beth Taylor,2396 Rafter Rd,Seattle,WA,98103-1121,1,17 inch Color Monitor,169.00
26,O4714645,2017-01-11 00:00:00.000000,C2388597,E1329594,Beth Taylor,2396 Rafter Rd,Seattle,WA,98103-1121,1,Battery Back-up System,89.00
27,O5511365,2017-01-22 00:00:00.000000,C3340959,E9884325,Betty White,4334 153rd NW,Seattle,WA,98178-3311,1,10 Foot Printer Cable,12.00
28,O5511365,2017-01-22 00:00:00.000000,C3340959,E9884325,Betty White,4334 153rd NW,Seattle,WA,98178-3311,1,8-Outlet Surge Protector,14.99
29,O5511365,2017-01-22 00:00:00.000000,C3340959,E9884325,Betty White,4334 153rd NW,Seattle,WA,98178-3311,1,CVP Ink Jet Color Printer,99.00
30,O5511365,2017-01-22 00:00:00.000000,C3340959,E9884325,Betty White,4334 153rd NW,Seattle,WA,98178-3311,1,Color Ink Jet Cartridge,38.00
31,O5511365,2017-01-22 00:00:00.000000,C3340959,E9884325,Betty White,4334 153rd NW,Seattle,WA,98178-3311,1,Black Ink Jet Cartridge,25.69
32,O6565656,2017-01-20 00:00:00.000000,C9865874,E8843211,Mr. Jack Sibley,166 E. 344th,Renton,WA,98006-5543,10,17 inch Color Monitor,169.00
33,O7847172,2017-01-23 00:00:00.000000,C9943201,None,Harry Sanders,1280 S. Hill Rd.,Fife,WA,98222-2258,1,CVP Ink Jet Color Printer,99.00
34,O7847172,2017-01-23 00:00:00.000000,C9943201,None,Harry Sanders,1280 S. Hill Rd.,Fife,WA,98222-2258,1,Black Ink Jet Cartridge,25.69
35,O7959898,2017-02-19 00:00:00.000000,C8543321,E8544399,Ron Thompson,789 122nd St.,Renton,WA,98666-1289,5,10 Foot Printer Cable,12.00
36,O7959898,2017-02-19 00:00:00.000000,C8543321,E8544399,Ron Thompson,789 122nd St.,Renton,WA,98666-1289,5,CVP Ink Jet Color Printer,99.00
37,O7959898,2017-02-19 00:00:00.000000,C8543321,E8544399,Ron Thompson,789 122nd St.,Renton,WA,98666-1289,5,Color Ink Jet Cartridge,38.00
38,O7959898,2017-02-19 00:00:00.000000,C8543321,E8544399,Ron Thompson,789 122nd St.,Renton,WA,98666-1289,5,Black Ink Jet Cartridge,25.69
39,O7989497,2017-01-16 00:00:00.000000,C3499503,E9345771,Bob Mann,1190 Lorraine Cir.,Monroe,WA,98013-1095,2,R3000 Color Laser Printer,699.00
40,O7989497,2017-01-16 00:00:00.000000,C3499503,E9345771,Bob Mann,1190 Lorraine Cir.,Monroe,WA,98013-1095,2,10 Foot Printer Cable,12.00
41,O7989497,2017-01-16 00:00:00.000000,C3499503,E9345771,Bob Mann,1190 Lorraine Cir.,Monroe,WA,98013-1095,3,8-Outlet Surge Protector,14.99
42,O8979495,2017-01-23 00:00:00.000000,C9865874,None,HelenSibley,206 McCaffrey,Renton,WA,98006-5543,1,R3000 Color Laser Printer,699.00
43,O8979495,2017-01-23 00:00:00.000000,C9865874,None,HelenSibley,206 McCaffrey,Renton,WA,98006-5543,1,10 Foot Printer Cable,12.00
44,O8979495,2017-01-23 00:00:00.000000,C9865874,None,HelenSibley,206 McCaffrey,Renton,WA,98006-5543,1,8-Outlet Surge Protector,14.99
45,O9919699,2017-02-11 00:00:00.000000,C9857432,E9954302,Homer Wells,123 Main St.,Seattle,WA,98105-4322,1,19 inch Color Monitor,319.00
46,O9919699,2017-02-11 00:00:00.000000,C9857432,E9954302,Homer Wells,123 Main St.,Seattle,WA,98105-4322,1,R3000 Color Laser Printer,699.00
47,O9919699,2017-02-11 00:00:00.000000,C9857432,E9954302,Homer Wells,123 Main St.,Seattle,WA,98105-4322,1,36-Bit Color Scanner,199.99

In [ ]:
#10. Customer First Name and Last Name, OrdNo, Quantity ordered and Product Price and Name
#Sort result based on Customer First and Last Name
#Need 4 table to connect
txt='''

'''
Q10 =  psql.sqldf(txt)
Q10

,CustFirstName,CustLastName,OrdNo,Qty,ProdPrice,ProdName
0,Beth,Taylor,O2233457,1,319.00,19 inch Color Monitor
1,Beth,Taylor,O2233457,1,14.99,8-Outlet Surge Protector
2,Beth,Taylor,O4714645,1,169.00,17 inch Color Monitor
3,Beth,Taylor,O4714645,1,89.00,Battery Back-up System
4,Betty,Wise,O5511365,1,12.00,10 Foot Printer Cable
5,Betty,Wise,O5511365,1,14.99,8-Outlet Surge Protector
6,Betty,Wise,O5511365,1,99.00,CVP Ink Jet Color Printer
7,Betty,Wise,O5511365,1,38.00,Color Ink Jet Cartridge
8,Betty,Wise,O5511365,1,25.69,Black Ink Jet Cartridge
9,Bob,Mann,O7989497,2,699.00,R3000 Color Laser Printer
10,Bob,Mann,O7989497,2,12.00,10 Foot Printer Cable
11,Bob,Mann,O7989497,3,14.99,8-Outlet Surge Protector
12,Candy,Kendall,O1615141,1,169.00,17 inch Color Monitor
13,Candy,Kendall,O1615141,1,14.99,8-Outlet Surge Protector
14,Candy,Kendall,O1615141,1,199.99,36-Bit Color Scanner
15,Harry,Sanders,O7847172,1,99.00,CVP Ink Jet Color Printer
16,Harry,Sanders,O7847172,1,25.69,Black Ink Jet Cartridge
17,Homer,Wells,O9919699,1,319.00,19 inch Color Monitor
18,Homer,Wells,O9919699,1,699.00,R3000 Color Laser Printer
19,Homer,Wells,O9919699,1,199.99,36-Bit Color Scanner
20,Jerry,Wyatt,O3377543,1,14.99,8-Outlet Surge Protector
21,Jerry,Wyatt,O3377543,1,89.00,Battery Back-up System
22,Jim,Glussman,O3331222,1,12.00,10 Foot Printer Cable
23,Jim,Glussman,O3331222,1,99.00,CVP Ink Jet Color Printer
24,Jim,Glussman,O3331222,1,38.00,Color Ink Jet Cartridge
25,Larry,Styles,O1231231,1,169.00,17 inch Color Monitor
26,Larry,Styles,O1231231,1,14.99,8-Outlet Surge Protector
27,Mary,Hill,O6565656,10,169.00,17 inch Color Monitor
28,Mary,Hill,O8979495,1,699.00,R3000 Color Laser Printer
29,Mary,Hill,O8979495,1,12.00,10 Foot Printer Cable
30,Mary,Hill,O8979495,1,14.99,8-Outlet Surge Protector
31,Mike,Boren,O3252629,1,199.99,36-Bit Color Scanner
32,Mike,Boren,O3252629,1,89.00,Battery Back-up System
33,Ron,Thompson,O1656777,1,14.99,8-Outlet Surge Protector
34,Ron,Thompson,O1656777,1,99.00,CVP Ink Jet Color Printer
35,Ron,Thompson,O7959898,5,12.00,10 Foot Printer Cable
36,Ron,Thompson,O7959898,5,99.00,CVP Ink Jet Color Printer
37,Ron,Thompson,O7959898,5,38.00,Color Ink Jet Cartridge
38,Ron,Thompson,O7959898,5,25.69,Black Ink Jet Cartridge
39,Sharon,Johnson,O1579999,1,99.00,CVP Ink Jet Color Printer
40,Sharon,Johnson,O1579999,1,25.69,Black Ink Jet Cartridge
41,Sharon,Johnson,O1579999,1,89.00,Battery Back-up System
42,Sheri,Gordon,O1116324,1,14.99,8-Outlet Surge Protector
43,Sheri,Gordon,O2334661,1,169.00,17 inch Color Monitor
44,Sheri,Gordon,O2334661,1,12.00,10 Foot Printer Cable
45,Sheri,Gordon,O2334661,1,99.00,CVP Ink Jet Color Printer
46,Todd,Hayes,O1241518,1,319.00,19 inch Color Monitor
47,Wally,Jones,O1455122,1,199.99,36-Bit Color Scanner

In [ ]:
#11.List each Customer First Name and Last Name and Total Amount ordered and
#distinct number of order

txt='''

'''
Q11 =  psql.sqldf(txt)
Q11

   CustFirstName CustLastName  Total Amount Ordered  Number of Order
0           Beth       Taylor                591.99                2
1          Betty         Wise                189.68                1
2            Bob         Mann               1466.97                1
3          Candy      Kendall                383.98                1
4          Harry      Sanders                124.69                1
5          Homer        Wells               1217.99                1
6          Jerry        Wyatt                103.99                1
7            Jim     Glussman                149.00                1
8          Larry       Styles                183.99                1
9           Mary         Hill               2415.99                2
10          Mike        Boren                288.99                1
11           Ron     Thompson                987.44                2
12        Sharon      Johnson                213.69                1
13         Sheri       Gordon                294.99                2
14          Todd        Hayes                319.00                1
15         Wally        Jones                199.99                1

In [ ]:
#12. Add Employee First and Last Name to Q9 if order is regular.
txt='''

'''
Q12 =  psql.sqldf(txt)
Q12

,OrdNo,OrdDate,CustNo,EmpNo,OrdName,OrdStreet,OrdCity,OrdState,OrdZip,Qty,ProdName,ProdPrice,EmpFirstName,EmpLastName
0,O1116324,2017-01-23 00:00:00.000000,C0954327,E8544399,Sheri Gordon,336 Hill St.,Littleton,CO,80129-5543,1,8-Outlet Surge Protector,14.99,Joe,Jenkins
1,O1231231,2017-01-23 00:00:00.000000,C9432910,E9954302,Larry Styles,9825 S. Crest Lane,Bellevue,WA,98104-2211,1,17 inch Color Monitor,169.00,Mary,Hill
2,O1455122,2017-01-09 00:00:00.000000,C8574932,E9345771,Wally Jones,411 Webber Ave.,Seattle,WA,98105-1093,1,36-Bit Color Scanner,199.99,Colin,White
3,O1579999,2017-01-05 00:00:00.000000,C9543029,E8544399,Tom Johnson,1632 Ocean Dr.,Des Moines,WA,98222-1123,1,CVP Ink Jet Color Printer,99.00,Joe,Jenkins
4,O1579999,2017-01-05 00:00:00.000000,C9543029,E8544399,Tom Johnson,1632 Ocean Dr.,Des Moines,WA,98222-1123,1,Black Ink Jet Cartridge,25.69,Joe,Jenkins
5,O1579999,2017-01-05 00:00:00.000000,C9543029,E8544399,Tom Johnson,1632 Ocean Dr.,Des Moines,WA,98222-1123,1,Battery Back-up System,89.00,Joe,Jenkins
6,O1615141,2017-01-23 00:00:00.000000,C8654390,E8544399,Candy Kendall,456 Pine St.,Seattle,WA,98105-3345,1,17 inch Color Monitor,169.00,Joe,Jenkins
7,O1615141,2017-01-23 00:00:00.000000,C8654390,E8544399,Candy Kendall,456 Pine St.,Seattle,WA,98105-3345,1,8-Outlet Surge Protector,14.99,Joe,Jenkins
8,O1615141,2017-01-23 00:00:00.000000,C8654390,E8544399,Candy Kendall,456 Pine St.,Seattle,WA,98105-3345,1,36-Bit Color Scanner,199.99,Joe,Jenkins
9,O2233457,2017-01-12 00:00:00.000000,C2388597,E9884325,Beth Taylor,2396 Rafter Rd,Seattle,WA,98103-1121,1,19 inch Color Monitor,319.00,Thomas,Johnson
10,O2233457,2017-01-12 00:00:00.000000,C2388597,E9884325,Beth Taylor,2396 Rafter Rd,Seattle,WA,98103-1121,1,8-Outlet Surge Protector,14.99,Thomas,Johnson
11,O2334661,2017-01-14 00:00:00.000000,C0954327,E1329594,Mrs. Ruth Gordon,233 S. 166th,Seattle,WA,98011,1,17 inch Color Monitor,169.00,Landi,Santos
12,O2334661,2017-01-14 00:00:00.000000,C0954327,E1329594,Mrs. Ruth Gordon,233 S. 166th,Seattle,WA,98011,1,10 Foot Printer Cable,12.00,Landi,Santos
13,O2334661,2017-01-14 00:00:00.000000,C0954327,E1329594,Mrs. Ruth Gordon,233 S. 166th,Seattle,WA,98011,1,CVP Ink Jet Color Printer,99.00,Landi,Santos
14,O3252629,2017-01-23 00:00:00.000000,C9403348,E9954302,Mike Boren,642 Crest Ave.,Englewood,CO,80113-5431,1,36-Bit Color Scanner,199.99,Mary,Hill
15,O3252629,2017-01-23 00:00:00.000000,C9403348,E9954302,Mike Boren,642 Crest Ave.,Englewood,CO,80113-5431,1,Battery Back-up System,89.00,Mary,Hill
16,O3377543,2017-01-15 00:00:00.000000,C9128574,E8843211,Jerry Wyatt,16212 123rd Ct.,Denver,CO,80222-0022,1,8-Outlet Surge Protector,14.99,Amy,Tang
17,O3377543,2017-01-15 00:00:00.000000,C9128574,E8843211,Jerry Wyatt,16212 123rd Ct.,Denver,CO,80222-0022,1,Battery Back-up System,89.00,Amy,Tang
18,O4714645,2017-01-11 00:00:00.000000,C2388597,E1329594,Beth Taylor,2396 Rafter Rd,Seattle,WA,98103-1121,1,17 inch Color Monitor,169.00,Landi,Santos
19,O4714645,2017-01-11 00:00:00.000000,C2388597,E1329594,Beth Taylor,2396 Rafter Rd,Seattle,WA,98103-1121,1,Battery Back-up System,89.00,Landi,Santos
20,O5511365,2017-01-22 00:00:00.000000,C3340959,E9884325,Betty White,4334 153rd NW,Seattle,WA,98178-3311,1,10 Foot Printer Cable,12.00,Thomas,Johnson
21,O5511365,2017-01-22 00:00:00.000000,C3340959,E9884325,Betty White,4334 153rd NW,Seattle,WA,98178-3311,1,8-Outlet Surge Protector,14.99,Thomas,Johnson
22,O5511365,2017-01-22 00:00:00.000000,C3340959,E9884325,Betty White,4334 153rd NW,Seattle,WA,98178-3311,1,CVP Ink Jet Color Printer,99.00,Thomas,Johnson
23,O5511365,2017-01-22 00:00:00.000000,C3340959,E9884325,Betty White,4334 153rd NW,Seattle,WA,98178-3311,1,Color Ink Jet Cartridge,38.00,Thomas,Johnson
24,O5511365,2017-01-22 00:00:00.000000,C3340959,E9884325,Betty White,4334 153rd NW,Seattle,WA,98178-3311,1,Black Ink Jet Cartridge,25.69,Thomas,Johnson
25,O6565656,2017-01-20 00:00:00.000000,C9865874,E8843211,Mr. Jack Sibley,166 E. 344th,Renton,WA,98006-5543,10,17 inch Color Monitor,169.00,Amy,Tang
26,O7959898,2017-02-19 00:00:00.000000,C8543321,E8544399,Ron Thompson,789 122nd St.,Renton,WA,98666-1289,5,10 Foot Printer Cable,12.00,Joe,Jenkins
27,O7959898,2017-02-19 00:00:00.000000,C8543321,E8544399,Ron Thompson,789 122nd St.,Renton,WA,98666-1289,5,CVP Ink Jet Color Printer,99.00,Joe,Jenkins
28,O7959898,2017-02-19 00:00:00.000000,C8543321,E8544399,Ron Thompson,789 122nd St.,Renton,WA,98666-1289,5,Color Ink Jet Cartridge,38.00,Joe,Jenkins
29,O7959898,2017-02-19 00:00:00.000000,C8543321,E8544399,Ron Thompson,789 122nd St.,Renton,WA,98666-1289,5,Black Ink Jet Cartridge,25.69,Joe,Jenkins
30,O7989497,2017-01-16 00:00:00.000000,C3499503,E9345771,Bob Mann,1190 Lorraine Cir.,Monroe,WA,98013-1095,2,R3000 Color Laser Printer,699.00,Colin,White
31,O7989497,2017-01-16 00:00:00.000000,C3499503,E9345771,Bob Mann,1190 Lorraine Cir.,Monroe,WA,98013-1095,2,10 Foot Printer Cable,12.00,Colin,White
32,O7989497,2017-01-16 00:00:00.000000,C3499503,E9345771,Bob Mann,1190 Lorraine Cir.,Monroe,WA,98013-1095,3,8-Outlet Surge Protector,14.99,Colin,White
33,O9919699,2017-02-11 00:00:00.000000,C9857432,E9954302,Homer Wells,123 Main St.,Seattle,WA,98105-4322,1,19 inch Color Monitor,319.00,Mary,Hill
34,O9919699,2017-02-11 00:00:00.000000,C9857432,E9954302,Homer Wells,123 Main St.,Seattle,WA,98105-4322,1,R3000 Color Laser Printer,699.00,Mary,Hill
35,O9919699,2017-02-11 00:00:00.000000,C9857432,E9954302,Homer Wells,123 Main St.,Seattle,WA,98105-4322,1,36-Bit Color Scanner,199.99,Mary,Hill

In [ ]:
#13. Find Total Number of Orders and Amount  handled by each Employee
txt='''

'''
Q13 =  psql.sqldf(txt)
Q13

  EmpFirstName EmpLastName  Total Amound Handled  Number of Order Handled
0        Landi      Santos                538.00                        2
1          Joe     Jenkins               1486.11                        4
2          Amy        Tang               1793.99                        2
3        Colin       White               1666.96                        2
4       Thomas     Johnson                523.67                        2
5         Mary        Hill               1675.98                        3

In [ ]:
#14. Find each order's total amount and how many different products are there
txt='''

'''
Q14 =  psql.sqldf(txt)
Q14

       OrdNo  TOTAL AMOUNT  Number of Product
0   O1116324         14.99                  1
1   O1231231        169.00                  1
2   O1233131         14.99                  1
3   O1241518        319.00                  1
4   O1455122        199.99                  1
5   O1579999        213.69                  3
6   O1615141        383.98                  3
7   O1656777        113.99                  2
8   O2233457        333.99                  2
9   O2334661        280.00                  3
10  O3252629        288.99                  2
11  O3331222         12.00                  1
12   O333222        137.00                  2
13  O3377543        103.99                  2
14  O4714645        258.00                  2
15  O5511365        189.68                  5
16  O6565656       1690.00                  1
17  O7847172        124.69                  2
18  O7959898        873.45                  4
19  O7989497       1466.97                  3
20  O8979495        725.99                  3
21  O9919699       1217.99                  3

In [ ]:
#15. Find value of product  sent to each state
txt='''

'''
Q15 =  psql.sqldf(txt)
Q15

  OrdState  Total Value  Number of Order  Number of Different Product Ordered
0       CO       419.97                4                                    6
1       WA      8560.41               16                                   39

In [ ]:
#16-Find order information given in January 2017
# Format for date is %Y-%m-%d - 2017-01-15
#strftime('%m', date(OrdDate)) gives Month-'01'
#strftime('%Y', date(OrdDate)) gives Year-'2017'
#strftime('%d', date(OrdDate)) gives Date-'15'
#For Hour, minute second, you can use  '%H:%M:%S'
txt='''

'''
Q16 =  psql.sqldf(txt)
Q16

,OrdNo,OrdDate,CustNo,EmpNo,OrdName,OrdStreet,OrdCity,OrdState,OrdZip
0,O1116324,2017-01-23 00:00:00.000000,C0954327,E8544399,Sheri Gordon,336 Hill St.,Littleton,CO,80129-5543
1,O1231231,2017-01-23 00:00:00.000000,C9432910,E9954302,Larry Styles,9825 S. Crest Lane,Bellevue,WA,98104-2211
2,O1455122,2017-01-09 00:00:00.000000,C8574932,E9345771,Wally Jones,411 Webber Ave.,Seattle,WA,98105-1093
3,O1579999,2017-01-05 00:00:00.000000,C9543029,E8544399,Tom Johnson,1632 Ocean Dr.,Des Moines,WA,98222-1123
4,O1615141,2017-01-23 00:00:00.000000,C8654390,E8544399,Candy Kendall,456 Pine St.,Seattle,WA,98105-3345
5,O2233457,2017-01-12 00:00:00.000000,C2388597,E9884325,Beth Taylor,2396 Rafter Rd,Seattle,WA,98103-1121
6,O2334661,2017-01-14 00:00:00.000000,C0954327,E1329594,Mrs. Ruth Gordon,233 S. 166th,Seattle,WA,98011
7,O3252629,2017-01-23 00:00:00.000000,C9403348,E9954302,Mike Boren,642 Crest Ave.,Englewood,CO,80113-5431
8,O3331222,2017-01-13 00:00:00.000000,C1010398,None,Jim Glussman,1432 E. Ravenna,Denver,CO,80111-0033
9,O3377543,2017-01-15 00:00:00.000000,C9128574,E8843211,Jerry Wyatt,16212 123rd Ct.,Denver,CO,80222-0022
10,O4714645,2017-01-11 00:00:00.000000,C2388597,E1329594,Beth Taylor,2396 Rafter Rd,Seattle,WA,98103-1121
11,O5511365,2017-01-22 00:00:00.000000,C3340959,E9884325,Betty White,4334 153rd NW,Seattle,WA,98178-3311
12,O6565656,2017-01-20 00:00:00.000000,C9865874,E8843211,Mr. Jack Sibley,166 E. 344th,Renton,WA,98006-5543
13,O7847172,2017-01-23 00:00:00.000000,C9943201,None,Harry Sanders,1280 S. Hill Rd.,Fife,WA,98222-2258
14,O7989497,2017-01-16 00:00:00.000000,C3499503,E9345771,Bob Mann,1190 Lorraine Cir.,Monroe,WA,98013-1095
15,O8979495,2017-01-23 00:00:00.000000,C9865874,None,HelenSibley,206 McCaffrey,Renton,WA,98006-5543

In [ ]:
#17-Find order and value of order given each month
# Format for date is %Y-%m-%d - 2017-01-15
#strftime('%m', date(OrdDate)) gives Month-'01'
#strftime('%Y', date(OrdDate)) gives Year-'2017'
#strftime('%Y', date(OrdDate)) gives Date-'15'
txt='''

'''
Q17 =  psql.sqldf(txt)
Q17

  Month  Year  Number of Order  Total Value of Order
0    01  2017               16               6455.95
1    02  2017                4               2524.43

In [ ]:
#19. List the employee number, the employee name (first and last), and total amount
#of commissions on orders taken in January 2017. The amount of a commission is
#the sum of the dollar amount of products ordered times the commission rate of the employee.
txt='''


'''
Q19 =  psql.sqldf(txt)
Q19

      EmpNo EmpFirstName EmpLastName  Comission Earned
0  E1329594        Landi      Santos           10.7600
1  E8544399          Joe     Jenkins           12.2532
2  E8843211          Amy        Tang           71.7596
3  E9345771        Colin       White           66.6784
4  E9884325       Thomas     Johnson           26.1835
5  E9954302         Mary        Hill            9.1598

In [ ]:
#20. For each Colorado customers, compute the number of orders placed in January 2017.
#The result should include the customer number, last name, and number of
#orders placed in January 2017.
txt='''

'''
Q20 =  psql.sqldf(txt)
Q20

     CustNo CustFirstName CustLastName  count(*)
0  C0954327         Sheri       Gordon         2
1  C1010398           Jim     Glussman         1
2  C9128574         Jerry        Wyatt         1
3  C9403348          Mike        Boren         1
4  C9865874          Mary         Hill         2

In [ ]:
#21. List the customer number, name (first and last),number of orders and balance of Washington
#customers who have placed more than 1 order in January 2017.
txt='''

'''
Q21 =  psql.sqldf(txt)
Q21

     CustNo CustFirstName CustLastName  CustBal  Number Of Orders
0  C2388597          Beth       Taylor      500                 2

JOIN

![image.png]()

Inner Join: Includes only common rows from table 1 and 2
SELECT column_name(s) FROM table1 INNER JOIN table2 ON table1.column_name = table2.column_name

Left Join : Include all rows from table 1 and matching rows from table 2
SELECT column_name(s) FROM table1 LEFT JOIN table2 ON table1.column_name = table2.column_name

Right Join : Include all rows from table 1 and matching rows from table 2
SELECT column_name(s) FROM table1 RIGHT JOIN table2 ON table1.column_name = table2.column_name

Full Outer Join : Include all rows from table 1 and table 2
SELECT column_name(s) FROM table1 FULL OUTER JOIN table2 ON table1.column_name = table2.column_name

Cross Join:A record in table1 is paired with all record on table 2
SELECT column_name(s) FROM table1,table2

NOT 1: INNER JOIN is the same as
SELECT column_name(s) FROM table1,table2 WHERE table1.column_name = table2.column_name

NOT 2: Right join and Full Outer Join is not supported in Sql lite
For right join, you can use
SELECT column_name(s) FROM table2 LEFT JOIN table1 ON table1.column_name = table2.column_name

In [ ]:
#22-Select Customer and Employee related information where person are both customer and employee
txt='''

'''
Q22 =  psql.sqldf(txt)
Q22

,CustNo,CustFirstName,CustLastName,CustStreet,CustCity,CustState,CustZip,CustBal,EmpNo,EmpFirstName,EmpLastName,EmpPhone,EmpEMail,SupEmpNo,EmpCommRate
0,C9865874,Mary,Hill,206 McCaffrey,Littleton,CO,80129-5543,150,E9954302,Mary,Hill,(303) 556-9871,MHiII@bigco.com,E8843211,0.02

In [ ]:
#22B-Select Customer and Employee related information where person are both customer and employee
#Inner Join Method
txt='''

'''
Q22B =  psql.sqldf(txt)
Q22B

,CustNo,CustFirstName,CustLastName,CustStreet,CustCity,CustState,CustZip,CustBal,EmpNo,EmpFirstName,EmpLastName,EmpPhone,EmpEMail,SupEmpNo,EmpCommRate
0,C9865874,Mary,Hill,206 McCaffrey,Littleton,CO,80129-5543,150,E9954302,Mary,Hill,(303) 556-9871,MHiII@bigco.com,E8843211,0.02

In [ ]:
#23-List all Customer information. If Customer is also Employee, include all Employee related informartion.
#Use one of  Join Method
txt='''

'''
Q23 =  psql.sqldf(txt)
Q23

,CustNo,CustFirstName,CustLastName,CustStreet,CustCity,CustState,CustZip,CustBal,EmpNo,EmpFirstName,EmpLastName,EmpPhone,EmpEMail,SupEmpNo,EmpCommRate
0,C0954327,Sheri,Gordon,336 HiII St.,Littleton,CO,80129-5543,230,None,None,None,None,None,None,NaN
1,C1010398,Jim,Glussman,1432 E. Ravenna,Denver,CO,80111-0033,200,None,None,None,None,None,None,NaN
2,C2388597,Beth,Taylor,2396 Rafter Rd,Seattle,WA,98103-1121,500,None,None,None,None,None,None,NaN
3,C3340959,Betty,Wise,4334 153rd NW,Seattle,WA,98178-3311,200,None,None,None,None,None,None,NaN
4,C3499503,Bob,Mann,1190 Lorraine Cir.,Monroe,WA,98013-1095,0,None,None,None,None,None,None,NaN
5,C8543321,Ron,Thompson,789 122nd St.,Renton,WA,98666-1289,85,None,None,None,None,None,None,NaN
6,C8574932,Wally,Jones,411 Webber Ave.,Seattle,WA,98105-1093,1500,None,None,None,None,None,None,NaN
7,C8654390,Candy,Kendall,456 Pine St.,Seattle,WA,98105-3345,50,None,None,None,None,None,None,NaN
8,C9128574,Jerry,Wyatt,16212 123rd Ct.,Denver,CO,80222-0022,100,None,None,None,None,None,None,NaN
9,C9403348,Mike,Boren,642 Crest Ave.,Englewood,CO,80113-5431,0,None,None,None,None,None,None,NaN
10,C9432910,Larry,Styles,9825 S. Crest Lane,Bellevue,WA,98104-2211,250,None,None,None,None,None,None,NaN
11,C9543029,Sharon,Johnson,1223 Meyer Way,Fife,WA,98222-1123,856,None,None,None,None,None,None,NaN
12,C9549302,Todd,Hayes,1400 NW 88th,Lynnwood,WA,98036-2244,0,None,None,None,None,None,None,NaN
13,C9857432,Homer,Wells,123 Main St.,Seattle,WA,98105-4322,500,None,None,None,None,None,None,NaN
14,C9865874,Mary,Hill,206 McCaffrey,Littleton,CO,80129-5543,150,E9954302,Mary,Hill,(303) 556-9871,MHiII@bigco.com,E8843211,0.02
15,C9943201,Harry,Sanders,1280 S. Hill Rd.,Fife,WA,98222-2258,1000,None,None,None,None,None,None,NaN

In [ ]:
#24-list all Employee information. If Employee is also Customer, include all Customer related informartion.
# Join Method
txt='''


'''
Q24 =  psql.sqldf(txt)
Q24

,EmpNo,EmpFirstName,EmpLastName,EmpPhone,EmpEMail,SupEmpNo,EmpCommRate,CustNo,CustFirstName,CustLastName,CustStreet,CustCity,CustState,CustZip,CustBal
0,E1329594,Landi,Santos,(303) 789-1234,LSantos@bigco.com,E8843211,0.02,None,None,None,None,None,None,None,NaN
1,E8544399,Joe,Jenkins,(303) 221-9875,JJenkins@bigco.com,E8843211,0.02,None,None,None,None,None,None,None,NaN
2,E8843211,Amy,Tang,(303) 556-4321,ATang@bigco.com,E9884325,0.04,None,None,None,None,None,None,None,NaN
3,E9345771,Colin,White,(303) 221-4453,CWhite@bigco.com,E9884325,0.04,None,None,None,None,None,None,None,NaN
4,E9884325,Thomas,Johnson,(303) 556-9987,TJohnson@bigco.com,None,0.05,None,None,None,None,None,None,None,NaN
5,E9954302,Mary,Hill,(303) 556-9871,MHiII@bigco.com,E8843211,0.02,C9865874,Mary,Hill,206 McCaffrey,Littleton,CO,80129-5543,150.0
6,E9973110,Theresa,Beck,(720) 320-2234,TBeck@bigco.com,E9884325,NaN,None,None,None,None,None,None,None,NaN

In [ ]:
#25-Is there any product who are not ordered?
txt='''

'''
Q25 =  psql.sqldf(txt)
Q25

Empty DataFrame
Columns: [ProdNo, ProdName, ProdMfg, ProdQOH, ProdPrice, ProdNextShipDate, OrdNo, ProdNo, Qty]
Index: []

In [ ]:
#26-Is there any employee who did not handle any order?
txt='''

'''
Q26 =  psql.sqldf(txt)
Q26

,EmpNo,EmpFirstName,EmpLastName,EmpPhone,EmpEMail,SupEmpNo,EmpCommRate,OrdNo,OrdDate,CustNo,EmpNo,OrdName,OrdStreet,OrdCity,OrdState,OrdZip
0,E9973110,Theresa,Beck,(720) 320-2234,TBeck@bigco.com,E9884325,None,None,None,None,None,None,None,None,None,None

In [ ]:
#How many employee handle orders
txt='''

'''
Q26 =  psql.sqldf(txt)
Q26

   Count(Distinct OrderTbl.EmpNo)
0                               6

In [ ]:
#27-List all employee and supervisor information. If employee has supervisor, include supervisor information as well.
txt='''


'''
Q27 =  psql.sqldf(txt)
Q27

,EmpNo,EmpFirstName,EmpLastName,EmpPhone,EmpEMail,SupEmpNo,EmpCommRate,EmpNo,EmpFirstName,EmpLastName,EmpPhone,EmpEMail,SupEmpNo,EmpCommRate
0,E1329594,Landi,Santos,(303) 789-1234,LSantos@bigco.com,E8843211,0.02,E8843211,Amy,Tang,(303) 556-4321,ATang@bigco.com,E9884325,0.04
1,E8544399,Joe,Jenkins,(303) 221-9875,JJenkins@bigco.com,E8843211,0.02,E8843211,Amy,Tang,(303) 556-4321,ATang@bigco.com,E9884325,0.04
2,E8843211,Amy,Tang,(303) 556-4321,ATang@bigco.com,E9884325,0.04,E9884325,Thomas,Johnson,(303) 556-9987,TJohnson@bigco.com,None,0.05
3,E9345771,Colin,White,(303) 221-4453,CWhite@bigco.com,E9884325,0.04,E9884325,Thomas,Johnson,(303) 556-9987,TJohnson@bigco.com,None,0.05
4,E9884325,Thomas,Johnson,(303) 556-9987,TJohnson@bigco.com,None,0.05,None,None,None,None,None,None,NaN
5,E9954302,Mary,Hill,(303) 556-9871,MHiII@bigco.com,E8843211,0.02,E8843211,Amy,Tang,(303) 556-4321,ATang@bigco.com,E9884325,0.04
6,E9973110,Theresa,Beck,(720) 320-2234,TBeck@bigco.com,E9884325,NaN,E9884325,Thomas,Johnson,(303) 556-9987,TJohnson@bigco.com,None,0.05

In [ ]:
#28-List each order information, quantity ordered  product name and price and assigned empolyee name. Include internet orders aswell
txt='''


'''
Q28 =  psql.sqldf(txt)
Q28

,OrdNo,Qty,ProdPrice,ProdName,EmpFirstName,EmpLastName
0,O2334661,1,169.00,17 inch Color Monitor,Landi,Santos
1,O2334661,1,12.00,10 Foot Printer Cable,Landi,Santos
2,O2334661,1,99.00,CVP Ink Jet Color Printer,Landi,Santos
3,O4714645,1,169.00,17 inch Color Monitor,Landi,Santos
4,O4714645,1,89.00,Battery Back-up System,Landi,Santos
5,O1116324,1,14.99,8-Outlet Surge Protector,Joe,Jenkins
6,O1579999,1,99.00,CVP Ink Jet Color Printer,Joe,Jenkins
7,O1579999,1,25.69,Black Ink Jet Cartridge,Joe,Jenkins
8,O1579999,1,89.00,Battery Back-up System,Joe,Jenkins
9,O1615141,1,169.00,17 inch Color Monitor,Joe,Jenkins
10,O1615141,1,14.99,8-Outlet Surge Protector,Joe,Jenkins
11,O1615141,1,199.99,36-Bit Color Scanner,Joe,Jenkins
12,O7959898,5,12.00,10 Foot Printer Cable,Joe,Jenkins
13,O7959898,5,99.00,CVP Ink Jet Color Printer,Joe,Jenkins
14,O7959898,5,38.00,Color Ink Jet Cartridge,Joe,Jenkins
15,O7959898,5,25.69,Black Ink Jet Cartridge,Joe,Jenkins
16,O3377543,1,14.99,8-Outlet Surge Protector,Amy,Tang
17,O3377543,1,89.00,Battery Back-up System,Amy,Tang
18,O6565656,10,169.00,17 inch Color Monitor,Amy,Tang
19,O1455122,1,199.99,36-Bit Color Scanner,Colin,White
20,O7989497,2,699.00,R3000 Color Laser Printer,Colin,White
21,O7989497,2,12.00,10 Foot Printer Cable,Colin,White
22,O7989497,3,14.99,8-Outlet Surge Protector,Colin,White
23,O2233457,1,319.00,19 inch Color Monitor,Thomas,Johnson
24,O2233457,1,14.99,8-Outlet Surge Protector,Thomas,Johnson
25,O5511365,1,12.00,10 Foot Printer Cable,Thomas,Johnson
26,O5511365,1,14.99,8-Outlet Surge Protector,Thomas,Johnson
27,O5511365,1,99.00,CVP Ink Jet Color Printer,Thomas,Johnson
28,O5511365,1,38.00,Color Ink Jet Cartridge,Thomas,Johnson
29,O5511365,1,25.69,Black Ink Jet Cartridge,Thomas,Johnson
30,O1231231,1,169.00,17 inch Color Monitor,Mary,Hill
31,O1231231,1,14.99,8-Outlet Surge Protector,Mary,Hill
32,O3252629,1,199.99,36-Bit Color Scanner,Mary,Hill
33,O3252629,1,89.00,Battery Back-up System,Mary,Hill
34,O9919699,1,319.00,19 inch Color Monitor,Mary,Hill
35,O9919699,1,699.00,R3000 Color Laser Printer,Mary,Hill
36,O9919699,1,199.99,36-Bit Color Scanner,Mary,Hill

In [ ]:
#Internet order is excluded in previous query, In order to fix that, we will use left join to connect
#OrderTbl with Employee Table
#28-List each order information, quantity ordered  product name and price and assigned empolyee name. Include internet orders aswell
txt='''

'''
Q28 =  psql.sqldf(txt)
Q28

,OrdNo,Qty,ProdPrice,ProdName,EmpFirstName,EmpLastName
0,O1116324,1,14.99,8-Outlet Surge Protector,Joe,Jenkins
1,O1231231,1,169.00,17 inch Color Monitor,Mary,Hill
2,O1231231,1,14.99,8-Outlet Surge Protector,Mary,Hill
3,O1241518,1,319.00,19 inch Color Monitor,None,None
4,O1455122,1,199.99,36-Bit Color Scanner,Colin,White
5,O1579999,1,99.00,CVP Ink Jet Color Printer,Joe,Jenkins
6,O1579999,1,25.69,Black Ink Jet Cartridge,Joe,Jenkins
7,O1579999,1,89.00,Battery Back-up System,Joe,Jenkins
8,O1615141,1,169.00,17 inch Color Monitor,Joe,Jenkins
9,O1615141,1,14.99,8-Outlet Surge Protector,Joe,Jenkins
10,O1615141,1,199.99,36-Bit Color Scanner,Joe,Jenkins
11,O1656777,1,14.99,8-Outlet Surge Protector,None,None
12,O1656777,1,99.00,CVP Ink Jet Color Printer,None,None
13,O2233457,1,319.00,19 inch Color Monitor,Thomas,Johnson
14,O2233457,1,14.99,8-Outlet Surge Protector,Thomas,Johnson
15,O2334661,1,169.00,17 inch Color Monitor,Landi,Santos
16,O2334661,1,12.00,10 Foot Printer Cable,Landi,Santos
17,O2334661,1,99.00,CVP Ink Jet Color Printer,Landi,Santos
18,O3252629,1,199.99,36-Bit Color Scanner,Mary,Hill
19,O3252629,1,89.00,Battery Back-up System,Mary,Hill
20,O3331222,1,12.00,10 Foot Printer Cable,None,None
21,O3331222,1,99.00,CVP Ink Jet Color Printer,None,None
22,O3331222,1,38.00,Color Ink Jet Cartridge,None,None
23,O3377543,1,14.99,8-Outlet Surge Protector,Amy,Tang
24,O3377543,1,89.00,Battery Back-up System,Amy,Tang
25,O4714645,1,169.00,17 inch Color Monitor,Landi,Santos
26,O4714645,1,89.00,Battery Back-up System,Landi,Santos
27,O5511365,1,12.00,10 Foot Printer Cable,Thomas,Johnson
28,O5511365,1,14.99,8-Outlet Surge Protector,Thomas,Johnson
29,O5511365,1,99.00,CVP Ink Jet Color Printer,Thomas,Johnson
30,O5511365,1,38.00,Color Ink Jet Cartridge,Thomas,Johnson
31,O5511365,1,25.69,Black Ink Jet Cartridge,Thomas,Johnson
32,O6565656,10,169.00,17 inch Color Monitor,Amy,Tang
33,O7847172,1,99.00,CVP Ink Jet Color Printer,None,None
34,O7847172,1,25.69,Black Ink Jet Cartridge,None,None
35,O7959898,5,12.00,10 Foot Printer Cable,Joe,Jenkins
36,O7959898,5,99.00,CVP Ink Jet Color Printer,Joe,Jenkins
37,O7959898,5,38.00,Color Ink Jet Cartridge,Joe,Jenkins
38,O7959898,5,25.69,Black Ink Jet Cartridge,Joe,Jenkins
39,O7989497,2,699.00,R3000 Color Laser Printer,Colin,White
40,O7989497,2,12.00,10 Foot Printer Cable,Colin,White
41,O7989497,3,14.99,8-Outlet Surge Protector,Colin,White
42,O8979495,1,699.00,R3000 Color Laser Printer,None,None
43,O8979495,1,12.00,10 Foot Printer Cable,None,None
44,O8979495,1,14.99,8-Outlet Surge Protector,None,None
45,O9919699,1,319.00,19 inch Color Monitor,Mary,Hill
46,O9919699,1,699.00,R3000 Color Laser Printer,Mary,Hill
47,O9919699,1,199.99,36-Bit Color Scanner,Mary,Hill

In [ ]:
#28-List each order information, quantity ordered  product name and price and assigned empolyee name
#if order is internet order
txt='''

'''
Q28 =  psql.sqldf(txt)
Q28

,OrdNo,Qty,ProdPrice,ProdName,EmpFirstName,EmpLastName
0,O1241518,1,319.00,19 inch Color Monitor,None,None
1,O1656777,1,14.99,8-Outlet Surge Protector,None,None
2,O1656777,1,99.00,CVP Ink Jet Color Printer,None,None
3,O3331222,1,12.00,10 Foot Printer Cable,None,None
4,O3331222,1,99.00,CVP Ink Jet Color Printer,None,None
5,O3331222,1,38.00,Color Ink Jet Cartridge,None,None
6,O7847172,1,99.00,CVP Ink Jet Color Printer,None,None
7,O7847172,1,25.69,Black Ink Jet Cartridge,None,None
8,O8979495,1,699.00,R3000 Color Laser Printer,None,None
9,O8979495,1,12.00,10 Foot Printer Cable,None,None
10,O8979495,1,14.99,8-Outlet Surge Protector,None,None

In [ ]:
#29-Find each order information, quantity ordered  product name and price and assigned empolyee name
#If order is not internet orders
txt='''

'''
Q29 =  psql.sqldf(txt)
Q29

,OrdNo,Qty,ProdPrice,ProdName,EmpFirstName,EmpLastName
0,O1116324,1,14.99,8-Outlet Surge Protector,Joe,Jenkins
1,O1231231,1,169.00,17 inch Color Monitor,Mary,Hill
2,O1231231,1,14.99,8-Outlet Surge Protector,Mary,Hill
3,O1455122,1,199.99,36-Bit Color Scanner,Colin,White
4,O1579999,1,99.00,CVP Ink Jet Color Printer,Joe,Jenkins
5,O1579999,1,25.69,Black Ink Jet Cartridge,Joe,Jenkins
6,O1579999,1,89.00,Battery Back-up System,Joe,Jenkins
7,O1615141,1,169.00,17 inch Color Monitor,Joe,Jenkins
8,O1615141,1,14.99,8-Outlet Surge Protector,Joe,Jenkins
9,O1615141,1,199.99,36-Bit Color Scanner,Joe,Jenkins
10,O2233457,1,319.00,19 inch Color Monitor,Thomas,Johnson
11,O2233457,1,14.99,8-Outlet Surge Protector,Thomas,Johnson
12,O2334661,1,169.00,17 inch Color Monitor,Landi,Santos
13,O2334661,1,12.00,10 Foot Printer Cable,Landi,Santos
14,O2334661,1,99.00,CVP Ink Jet Color Printer,Landi,Santos
15,O3252629,1,199.99,36-Bit Color Scanner,Mary,Hill
16,O3252629,1,89.00,Battery Back-up System,Mary,Hill
17,O3377543,1,14.99,8-Outlet Surge Protector,Amy,Tang
18,O3377543,1,89.00,Battery Back-up System,Amy,Tang
19,O4714645,1,169.00,17 inch Color Monitor,Landi,Santos
20,O4714645,1,89.00,Battery Back-up System,Landi,Santos
21,O5511365,1,12.00,10 Foot Printer Cable,Thomas,Johnson
22,O5511365,1,14.99,8-Outlet Surge Protector,Thomas,Johnson
23,O5511365,1,99.00,CVP Ink Jet Color Printer,Thomas,Johnson
24,O5511365,1,38.00,Color Ink Jet Cartridge,Thomas,Johnson
25,O5511365,1,25.69,Black Ink Jet Cartridge,Thomas,Johnson
26,O6565656,10,169.00,17 inch Color Monitor,Amy,Tang
27,O7959898,5,12.00,10 Foot Printer Cable,Joe,Jenkins
28,O7959898,5,99.00,CVP Ink Jet Color Printer,Joe,Jenkins
29,O7959898,5,38.00,Color Ink Jet Cartridge,Joe,Jenkins
30,O7959898,5,25.69,Black Ink Jet Cartridge,Joe,Jenkins
31,O7989497,2,699.00,R3000 Color Laser Printer,Colin,White
32,O7989497,2,12.00,10 Foot Printer Cable,Colin,White
33,O7989497,3,14.99,8-Outlet Surge Protector,Colin,White
34,O9919699,1,319.00,19 inch Color Monitor,Mary,Hill
35,O9919699,1,699.00,R3000 Color Laser Printer,Mary,Hill
36,O9919699,1,199.99,36-Bit Color Scanner,Mary,Hill

Subquery

In [ ]:
#30-List all product information with highest price
#Step 1-Find highest product price
#Step 2-Find product information using maximum price found in Step1
#Step 3-Combine both query

In [ ]:
#Limit 1 approach- Prolem: Only 1 row is displayed.If there are more than 1 produxt
#with highest price, the others are not displayed
txt='''

'''
Q30A =  psql.sqldf(txt)
Q30A

,ProdNo,ProdName,ProdMfg,ProdQOH,ProdPrice,ProdNextShipDate
0,P1114590,R3000 Color Laser Printer,Connex,5,699.0,2017-01-22 00:00:00.000000

In [ ]:
#List all product information with highest price
#Step 1-Find highest product price
txt='''

'''
Q30A =  psql.sqldf(txt)
Q30A

   Max(ProdPrice)
0           699.0

In [ ]:
#Step 2-Find product information using maximum price found in Step 1
txt='''


'''
Q30B =  psql.sqldf(txt)
Q30B

,ProdNo,ProdName,ProdMfg,ProdQOH,ProdPrice,ProdNextShipDate
0,P1114590,R3000 Color Laser Printer,Connex,5,699.0,2017-01-22 00:00:00.000000

In [ ]:
#Step 3-Combine both query
txt='''

'''
Q30 =  psql.sqldf(txt)
Q30

,ProdNo,ProdName,ProdMfg,ProdQOH,ProdPrice,ProdNextShipDate
0,P1114590,R3000 Color Laser Printer,Connex,5,699.0,2017-01-22 00:00:00.000000

In [ ]:
#31-List customer information who has higher balance than average customer balance
#Step 1-Find average customer balance
#Step 2-Find customers with customer balance found in step 1
#Step 3-Combine both query
txt='''


'''
Q31A =  psql.sqldf(txt)
Q31A

   avg(CustBal)
0      351.3125

In [ ]:
#Step 2-Find customers with customer balance found in step 1
txt='''

'''
Q31B =  psql.sqldf(txt)
Q31B

,CustNo,CustFirstName,CustLastName,CustStreet,CustCity,CustState,CustZip,CustBal
0,C2388597,Beth,Taylor,2396 Rafter Rd,Seattle,WA,98103-1121,500
1,C8574932,Wally,Jones,411 Webber Ave.,Seattle,WA,98105-1093,1500
2,C9543029,Sharon,Johnson,1223 Meyer Way,Fife,WA,98222-1123,856
3,C9857432,Homer,Wells,123 Main St.,Seattle,WA,98105-4322,500
4,C9943201,Harry,Sanders,1280 S. Hill Rd.,Fife,WA,98222-2258,1000

In [ ]:
#Step 3-Combine both query
txt='''

'''
Q31 =  psql.sqldf(txt)
Q31

,CustNo,CustFirstName,CustLastName,CustStreet,CustCity,CustState,CustZip,CustBal
0,C2388597,Beth,Taylor,2396 Rafter Rd,Seattle,WA,98103-1121,500
1,C8574932,Wally,Jones,411 Webber Ave.,Seattle,WA,98105-1093,1500
2,C9543029,Sharon,Johnson,1223 Meyer Way,Fife,WA,98222-1123,856
3,C9857432,Homer,Wells,123 Main St.,Seattle,WA,98105-4322,500
4,C9943201,Harry,Sanders,1280 S. Hill Rd.,Fife,WA,98222-2258,1000

In [ ]:
#32-List Product not ordered in February 2017
#Step 1-List ProdNo of product ordered in February 2017
#Step 2-Select product not included in this list
txt='''

'''
Q32A =  psql.sqldf(txt)
Q32A

     ProdNo
0  P0036577
1  P1445671
2  P1556678
3  P1412138
4  P3455443
5  P6677900
6  P1114590
7  P4200344

In [ ]:
#Step 2-Select product not included in above query
txt='''


'''
Q32 =  psql.sqldf(txt)
Q32

,ProdNo,ProdName,ProdMfg,ProdQOH,ProdPrice,ProdNextShipDate
0,P0036566,17 inch Color Monitor,"ColorMeg, Inc.",12,169.0,2017-02-20 00:00:00.000000
1,P9995676,Battery Back-up System,Cybercx,12,89.0,2017-02-01 00:00:00.000000

In [ ]:
#33 Find Order information whose Order Name is not same as Cust First and Last Name
#First find Cust last name and First name.
txt='''

'''
Q33 =  psql.sqldf(txt)
Q33

          CustName
0     Sheri Gordon
1     Jim Glussman
2      Beth Taylor
3       Betty Wise
4         Bob Mann
5     Ron Thompson
6      Wally Jones
7    Candy Kendall
8      Jerry Wyatt
9       Mike Boren
10    Larry Styles
11  Sharon Johnson
12      Todd Hayes
13     Homer Wells
14       Mary Hill
15   Harry Sanders

In [ ]:
#Find OrdName not in above query
txt='''


'''
Q33 =  psql.sqldf(txt)
Q33

,OrdNo,OrdDate,CustNo,EmpNo,OrdName,OrdStreet,OrdCity,OrdState,OrdZip
0,O1579999,2017-01-05 00:00:00.000000,C9543029,E8544399,Tom Johnson,1632 Ocean Dr.,Des Moines,WA,98222-1123
1,O2334661,2017-01-14 00:00:00.000000,C0954327,E1329594,Mrs. Ruth Gordon,233 S. 166th,Seattle,WA,98011
2,O5511365,2017-01-22 00:00:00.000000,C3340959,E9884325,Betty White,4334 153rd NW,Seattle,WA,98178-3311
3,O6565656,2017-01-20 00:00:00.000000,C9865874,E8843211,Mr. Jack Sibley,166 E. 344th,Renton,WA,98006-5543
4,O8979495,2017-01-23 00:00:00.000000,C9865874,None,HelenSibley,206 McCaffrey,Renton,WA,98006-5543

In [ ]:
#Add Cust first name and Last Name to above query
txt='''

'''
Q34 =  psql.sqldf(txt)
Q34

,CustFirstName,CustLastName,OrdNo,OrdDate,CustNo,EmpNo,OrdName,OrdStreet,OrdCity,OrdState,OrdZip
0,Sharon,Johnson,O1579999,2017-01-05 00:00:00.000000,C9543029,E8544399,Tom Johnson,1632 Ocean Dr.,Des Moines,WA,98222-1123
1,Sheri,Gordon,O2334661,2017-01-14 00:00:00.000000,C0954327,E1329594,Mrs. Ruth Gordon,233 S. 166th,Seattle,WA,98011
2,Betty,Wise,O5511365,2017-01-22 00:00:00.000000,C3340959,E9884325,Betty White,4334 153rd NW,Seattle,WA,98178-3311
3,Mary,Hill,O6565656,2017-01-20 00:00:00.000000,C9865874,E8843211,Mr. Jack Sibley,166 E. 344th,Renton,WA,98006-5543
4,Mary,Hill,O8979495,2017-01-23 00:00:00.000000,C9865874,None,HelenSibley,206 McCaffrey,Renton,WA,98006-5543

In [ ]:
# Find CustFirstName,	CustLastName	and Order related information whose Order Name is the  same as Cust First and Last Name
txt='''

'''
Q34 =  psql.sqldf(txt)
Q34

,CustFirstName,CustLastName,OrdNo,OrdDate,CustNo,EmpNo,OrdName,OrdStreet,OrdCity,OrdState,OrdZip
0,Sheri,Gordon,O1116324,2017-01-23 00:00:00.000000,C0954327,E8544399,Sheri Gordon,336 Hill St.,Littleton,CO,80129-5543
1,Larry,Styles,O1231231,2017-01-23 00:00:00.000000,C9432910,E9954302,Larry Styles,9825 S. Crest Lane,Bellevue,WA,98104-2211
2,Todd,Hayes,O1241518,2017-02-10 00:00:00.000000,C9549302,None,Todd Hayes,1400 NW 88th,Lynnwood,WA,98036-2244
3,Wally,Jones,O1455122,2017-01-09 00:00:00.000000,C8574932,E9345771,Wally Jones,411 Webber Ave.,Seattle,WA,98105-1093
4,Candy,Kendall,O1615141,2017-01-23 00:00:00.000000,C8654390,E8544399,Candy Kendall,456 Pine St.,Seattle,WA,98105-3345
5,Ron,Thompson,O1656777,2017-02-11 00:00:00.000000,C8543321,None,Ron Thompson,789 122nd St.,Renton,WA,98666-1289
6,Beth,Taylor,O2233457,2017-01-12 00:00:00.000000,C2388597,E9884325,Beth Taylor,2396 Rafter Rd,Seattle,WA,98103-1121
7,Mike,Boren,O3252629,2017-01-23 00:00:00.000000,C9403348,E9954302,Mike Boren,642 Crest Ave.,Englewood,CO,80113-5431
8,Jim,Glussman,O3331222,2017-01-13 00:00:00.000000,C1010398,None,Jim Glussman,1432 E. Ravenna,Denver,CO,80111-0033
9,Jerry,Wyatt,O3377543,2017-01-15 00:00:00.000000,C9128574,E8843211,Jerry Wyatt,16212 123rd Ct.,Denver,CO,80222-0022
10,Beth,Taylor,O4714645,2017-01-11 00:00:00.000000,C2388597,E1329594,Beth Taylor,2396 Rafter Rd,Seattle,WA,98103-1121
11,Harry,Sanders,O7847172,2017-01-23 00:00:00.000000,C9943201,None,Harry Sanders,1280 S. Hill Rd.,Fife,WA,98222-2258
12,Ron,Thompson,O7959898,2017-02-19 00:00:00.000000,C8543321,E8544399,Ron Thompson,789 122nd St.,Renton,WA,98666-1289
13,Bob,Mann,O7989497,2017-01-16 00:00:00.000000,C3499503,E9345771,Bob Mann,1190 Lorraine Cir.,Monroe,WA,98013-1095
14,Homer,Wells,O9919699,2017-02-11 00:00:00.000000,C9857432,E9954302,Homer Wells,123 Main St.,Seattle,WA,98105-4322

In [ ]:
#34- Find employee who are not supervisor
#Step 1 =Find supervisor
#Find people who aree not in that list foubd in Step 1
#Step 1
txt='''


'''
Q34 =  psql.sqldf(txt)
Q34

   SupEmpNo
0  E8843211
1  E8843211
2  E9884325
3  E9884325
4  E8843211
5  E9884325

In [ ]:
#Step 2
txt='''


'''
Q34 =  psql.sqldf(txt)
Q34

,EmpNo,EmpFirstName,EmpLastName,EmpPhone,EmpEMail,SupEmpNo,EmpCommRate
0,E1329594,Landi,Santos,(303) 789-1234,LSantos@bigco.com,E8843211,0.02
1,E8544399,Joe,Jenkins,(303) 221-9875,JJenkins@bigco.com,E8843211,0.02
2,E9345771,Colin,White,(303) 221-4453,CWhite@bigco.com,E9884325,0.04
3,E9954302,Mary,Hill,(303) 556-9871,MHiII@bigco.com,E8843211,0.02
4,E9973110,Theresa,Beck,(720) 320-2234,TBeck@bigco.com,E9884325,NaN

In [ ]:
#Find employee who are supervisor
txt='''


'''
Q34 =  psql.sqldf(txt)
Q34

,EmpNo,EmpFirstName,EmpLastName,EmpPhone,EmpEMail,SupEmpNo,EmpCommRate
0,E8843211,Amy,Tang,(303) 556-4321,ATang@bigco.com,E9884325,0.04
1,E9884325,Thomas,Johnson,(303) 556-9987,TJohnson@bigco.com,None,0.05

In [ ]:
#35-Find employee who are both supervisor and  has supervisor..
txt='''

'''
Q35 =  psql.sqldf(txt)
Q35

,EmpNo,EmpFirstName,EmpLastName,EmpPhone,EmpEMail,SupEmpNo,EmpCommRate
0,E8843211,Amy,Tang,(303) 556-4321,ATang@bigco.com,E9884325,0.04